<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Dear <strong>{{user_fullname}}</strong>!</p>
  <p>Your load '{{load_name}}' (ID: {{load_id}}) has been assigned to truck '{{truck_name}}' (driver ID: {{driver_id}}).</p>
  <p>Current load state: {{load_state}}</p>
  <p>You can track load movement through the App.</p>
  <p>Best regards,<br /><strong>EPAMFreighter Team</strong></p>
</body>
</html>