<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Dear <strong>{{fullname}}</strong>!</p>
  <p>Password for your EPAMFreighter account has been changed.</p>
  <p>If it was not you please consider changing your password and contact our <a href="mailto:support@epamfreighterproject.com">support team</a>.</p>
  <p>Best regards,<br /><strong>EPAMFreighter Team</strong></p>
</body>
</html>